html{                     
  /*background-color: #6a7580;*/
  background-image: url(https://i.giphy.com/3WKYBBMUfLiUM.gif);
  background-size: 100%;
    /*background-image: url(https://cdn-images-1.medium.com/max/2000/1*FmEUTsJqLp9VAm0d3gcyVw.jpeg);*/
}

h1{
  color: #252428;
  font-family:sans-serif;
  font-size: 55px;
  
}
p{color:blue

}
.pomo-est{font-weight: bold;
  color: #6178d9;
  background-color: #796e8b;
  border-radius: 50px;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
}
#add-new-todo{
    font-size:20px;
    background-color: #f1f2ee;
    border-radius: 100px;
    display:block;
    
}

#add-new-todo:active{
   color: red;
   background-color: #929bac;
}
  
  
li{
  list-style-type: none;
  font-size: 24px;
  font-family: cursive;
  
}
li:hover{
  transition: background-color .50s;
  background-color: #929bac;
  padding: 15px 20px 15px 20px;
  opacity: .8;
  color: #f44eca;
  /*width: padding;*/
  
}
h3{
  color: #b64ef4;
}

.input-stuff{
  list-style-type:none;
}

h2{
    display:inline-block;
    font-family: cursive;
    text-decoration: underline;
    color: #c8405b;
    
    
}

a{
   margin:0px;
}




.pomodoro-estimate{
  font-weight: bold;
  color: #F44336;
  background-color: #F5F5F5;
  border-radius: 50px;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
}
