
<h1>U R so cool</h1>
        <p> 
        </p>
       
         <ul>       
             <% @todos.each do |todo| %>
             
             <input type="checkbox" name=""/><br>
             <a href="todo/show/<%= todo.id %>"><%= todo.description %></a>
             <span class="pomodoro-estimate small-pomodoro-estimate"><%= todo.pomodoro_estimate %> pomodoro</span>
            
             <%end%>
             
          
         </ul> 
                 <form action="/todo/new/">
                <!-----
                 <span class="input-stuff"> <input type="number"></span>
                 ------->
                 <input id="add-new-todo" type="submit" value="Create new todo">
                 </form>
            <p>
                
                        </p>
            