<input type="checkbox">
        <h2> <%= @todo.description %></h2> 
        <h2> <%= @todo.pomodoro_estimate %></h2> 
        <h3>Todo #<%= params[:id] %></h3>
             <a href="/todo/edit/<%= @todo.id %>" class="button edit-todo-button">Edit</a>
             <a href="#">Delete</a>
             <a href="index.html">Go back</a>

